@import "../../Utils//Variables.scss";
.livePage-wrapper{

	.addLink{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		height: 300px;

		&:hover svg{
			fill: #314FE5;
		}
		svg{
			transition: 0.2s ease-in-out;
			fill: #002258;
		}

		&.Form{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;

			input{
				border: none;
				border-bottom: 1px solid black;
				outline: none;
				width: 100%;
				font-size: 2.2rem;
				margin-bottom: 2rem;
				&[name=url],&[name=date]{
					font-size: 1.8rem;
					width: 100%;
				}
			}
			.controls{
				margin-top: auto;
				display: flex;
				justify-content: space-between;
				@media (min-width:$breakpoint-phone) {
					justify-content: flex-end;
				}
				.cta{
					font-size: 1.65rem;
					padding: 0.6rem 1.5rem;
					@media (min-width:$breakpoint-phone) {
						margin-left: 2.5rem;
						font-size: 2rem;
						padding: 0.6rem 2rem;
					}
				}
			}
		}
	}

	
}

