@import "../../Utils//Variables.scss";
.livePage-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;

	img{
		height: 600px;
	}

	.header{
		width: 100%;
		margin: 3rem auto 6rem;
		text-align: center;
		position: relative;
		padding: 2.5rem 2rem;
		@media(min-width:$breakpoint-tablet){
			padding: 8.5rem 2rem;
		}
		@media(min-width:$breakpoint-laptop){
			padding: 8.5rem 2rem;
		}
		.background{
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
			z-index: -1;
			filter: brightness(80%);
		}
		
		h1{
			color: white;
			z-index: 1;
			font-size: 4.2rem;
			font-family: Roboto;
			@media(min-width:$breakpoint-tablet){
				font-size: 5.5rem;
			}
			@media(min-width:$breakpoint-laptop){
				font-size: 7.5rem;
			}
		}
	}

	.addLink{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		height: 300px;

		&:hover svg{
			fill: #314FE5;
		}
		svg{
			transition: 0.2s ease-in-out;
			fill: #002258;
		}

		&.Form{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;

			input{
				border: none;
				border-bottom: 1px solid black;
				outline: none;
				width: 100%;
				font-size: 2.2rem;
				margin-bottom: 2rem;
				&[name=url],&[name=date]{
					font-size: 1.8rem;
					width: 100%;
				}
			}
			.controls{
				margin-top: auto;
				display: flex;
				justify-content: space-between;
				@media (min-width:$breakpoint-phone) {
					justify-content: flex-end;
				}
				.cta{
					font-size: 1.65rem;
					padding: 0.6rem 1.5rem;
					@media (min-width:$breakpoint-phone) {
						margin-left: 2.5rem;
						font-size: 2rem;
						padding: 0.6rem 2rem;
					}
				}
			}
		}
	}

	
}

