
@import "../../Utils//Variables.scss";
.event-wrapper{
	display: flex;
	flex-direction: column;
	justify-items: center;


	.header{
		display: flex;
		text-transform: capitalize;
		flex-direction: column;
		margin-bottom: 4rem;
		padding: 2.5rem 1.5rem;
		min-height: 20rem;
		
		@media (min-width:$breakpoint-tablet){
			flex-direction: row;
			margin-bottom: 4rem;
			padding: 2.5rem 1.5rem;
			min-height: 20rem;
		}

		.left{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			max-width: 800px;
			width: 100%;
			padding: 0;

			.title{
				font-size: 4.8rem;
				width: 100%;
				margin: 2rem;
			}

			p,input{
				margin: 2rem 0;
				font-size: 2.2rem;
			}

			select{
				outline: none;
				padding: 0.5rem 0;
				width: 15%;
			}

			input{
				border: none;
				border-bottom: 1px solid black;
				outline: none;
				&:not(.title){
					max-width: 25%;
				}
				&[name=date]{
					font-size: 1.8rem;
					max-width: 35%;
					width: 30%;
				}
			}


		}
		.right{
			display: flex;
			width: 100%;
			position: relative;
			flex-wrap: wrap;
			justify-content: space-between;
			background-color: white;
			// clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
			margin-left: auto;
			@media (min-width:$breakpoint-tablet){
				width: 60%;
			}
			@media (min-width:$breakpoint-desktop){
				width: 30%;
			}
	
			.controls{
				display: flex;
				justify-content: space-between;
				height: 100%;
				width: 100%;
				@media (min-width:$breakpoint-tablet){
					width: 75%;
					justify-content: flex-start;
					flex-direction: column;
				}
				@media (min-width:$breakpoint-laptop){
					width: 60%;
				}
				.cta{
					padding: 0.5rem 1.5rem;
					margin: 2px;
					font-size: 2.2rem;
					@media (min-width:$breakpoint-tablet){
						&:last-child{
							margin-top: auto;
						}
					}
					&.delete-controls{
						background-color: red;
					}
				}
			}
		}

	}


	.content{

		.results-controls{
			margin-bottom: 2.5rem;
			
			button{
				padding: 0.4rem 2rem;
				font-size: 2.5rem;
				margin-right: 2.5rem;
			}
		}
	}

}