@import "../../Utils//Variables.scss";

.linkPreview-wrapper{
	display: flex;
	margin: 2rem 0;
	height: 10rem;
	max-width: 800px;
	width: 100%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	user-select: none;
	position: relative;
	@media (min-width:$breakpoint-phone) {
		height: 15rem;
	}
	@media (min-width:$breakpoint-tablet) {
		height: 20rem;
	}
	@media (min-width:$breakpoint-laptop) {
		height: 25rem; 
	}

	&:hover .cta.delete{
		opacity: 1;
		visibility: visible;
	}

	.cta.delete{
		position: absolute;
		top: 0;
		right: 0;
		background-color: red;
		margin: 0.25rem;
		font-size: 1.2rem;
		padding: 0.2rem 1rem;
		transition: visibility 0s, opacity 0.2s ease-in-out;
		opacity: 0;
		visibility: hidden;
		@media (min-width:$breakpoint-tablet) {
			font-size: 1.8rem;
			padding: 0.2rem 1.4rem;
		}
	}

	.image-wrapper{
		width: 30%;
		overflow: hidden;
		position: relative;
	
		img{
			object-fit: contain;
			width: 100%;
			height: 100%;
			&.foreground{
				filter: brightness(70%);
			}
			&.background{
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				filter: blur(4px) brightness(30%);
			}
		}
	}

	.content-wrapper{
		width: 70%;
		height: 100%;
		flex-direction: column;
		display: flex;
		padding: 0.75rem 0.5rem;
		h1{
			margin: 0;
			font-family: Roboto;
			font-size: 1.8rem;
			@media (min-width:$breakpoint-tablet) {
				font-size: 3.4rem;
			}
			@media (min-width:$breakpoint-laptop) {
				font-size: 3.8rem; 
			}
		}
		.description{
			font-size: 1.8rem;
			height: 100%;
			width: 100%;
			word-wrap: break-word;
			@media (min-width:$breakpoint-tablet) {
				font-size: 2rem;
			}
			@media (min-width:$breakpoint-laptop) {
				font-size: 2.5rem; 
			}
		}
		
		.info{
			height:10%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.domain{
				font-family: Montserrat;
				font-weight: bold;
				font-size: 1.2rem;
				@media (min-width:$breakpoint-tablet) {
					font-size: 2rem;
				}
				@media (min-width:$breakpoint-laptop) {
					font-size: 2.2rem; 
				}
			}
			.date{
				font-size: 0.8rem;
				color: #606060;
				text-align: center;
				height: auto;
				@media (min-width:$breakpoint-tablet) {
					font-size: 2rem;
				}
				@media (min-width:$breakpoint-laptop) {
					font-size: 2.2rem; 
				}
			}
		}
	}
}