@import "../../Utils//Variables.scss";
.medals-page-wrapper{
	display: flex;
	flex-direction: column;

	.header{
		width: 100%;
		margin: 3rem auto 6rem;
		text-align: center;
		position: relative;
		padding: 2.5rem 2rem;
		@media(min-width:$breakpoint-tablet){
			padding: 8.5rem 2rem;
		}
		@media(min-width:$breakpoint-laptop){
			padding: 8.5rem 2rem;
		}
		.background{
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
			z-index: -1;
			filter: brightness(80%);
		}
		h1{
			color: white;
			z-index: 1;
			font-size: 4.2rem;
			font-family: Roboto;
			@media(min-width:$breakpoint-tablet){
				font-size: 5.5rem;
			}
			@media(min-width:$breakpoint-laptop){
				font-size: 7.5rem;
			}
		}
	}

	.table-wrapper{
		overflow-x: auto;
		width: 100%;
		min-width: 250px;
		table{
			text-align: left;
			text-transform: capitalize;
			border-spacing: 0;
			width: 100%;
			user-select: none;
		
			thead {
				tr{
					background-color: #002258;
					color: white;
					font-size: 1.8rem;
					font-weight: bold;
					font-family: Roboto;
	
					@media (min-width:$breakpoint-phone){
						font-size: 2rem;
					}
					@media (min-width:$breakpoint-tablet){
						font-size: 2.6rem;
					}
					@media (min-width:$breakpoint-laptop){
						font-size: 3.2rem;
					}
					@media (min-width:$breakpoint-laptop){
						font-size: 3.4rem;
					}
		
					th{
						padding: 0.25rem 0.5rem;
						&.ascending{
							svg{
								transform: rotate(180deg);
							}
						}
						svg{
							transition: all 0.5s ease-in-out;
							fill: white;
							height: 1.6rem;
							margin-left: 6px;
							transform: rotate(180deg);
							&.descending{
								transform: rotate(0deg);
							}
						}
						&:first-child{
							border-top-left-radius: 5px;
							width: 10%;
						}
						&.medalType, .controls{
							width: 15%;
							max-width: 15%;
						}

					}
				}
			}
			
			
			tbody {
				tr{
					background-color: #fff;
					font-size: 1.6rem;
					font-family: Montserrat;
					@media (min-width:$breakpoint-phone){
						font-size: 1.8rem;
					}
					@media (min-width:$breakpoint-tablet){
						font-size: 2.2rem;
					}
					@media (min-width:$breakpoint-laptop){
						font-size: 2.6rem;
					}
					&:nth-child(even){
						background-color: rgb(241, 241, 241);
					}
		
					input{
						font-size: 1.8rem;
						&[name=country]{
							width: 25px;
						}
					}
		
					td{
						padding: 0.75rem 0.5rem;

						svg{
							.flag{
								margin-right: 5px;
								margin-top: -4px;
							}
						}
		
						input{
							border: none;
							border-bottom: 1px solid black;
							outline: none;
							font-size: 2.5rem;
							width: 2.5em;
						}
					}
		
					.cta{
						padding: 0.5rem 1rem;
						margin-right: 0.2rem;
						font-size: 0.8rem;
						@media (min-width:$breakpoint-phone){
							font-size: 1.2em;
						}
						@media (min-width:$breakpoint-tablet){
							font-size: 1.6rem;
						}
						
					}		
				}
		
			}
		
		}
	}


}
