.carrousel-wrapper{
	max-height: 600px;
	width: 100%;
	height: 600px;
	position: relative;
	user-select: none;
	background-color: #232323;

	&:hover .controls{
		visibility: visible;
		opacity: 1;
	}

	.controls{
		position: absolute;
		z-index: 25;
		top: 45%;
		padding: 12px;
		color: white;
		text-shadow: #030303 0px 0px 3px;
		border-radius: 7px;
		font-size: 1.8rem;
		cursor: pointer;

		transition: visibility 0s, opacity 0.25s linear;
		opacity: 0;
		visibility: hidden;

		&.prev{
			left: 0;
		}
		&.next{
			right: 0;
		}
	}

	.scrollProgress{
		position: absolute;
		bottom: 0;
		left: 40%;
		width: 20%;
		z-index: 98;
		color: white;
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
		z-index: 25;
		
		.step{
			cursor: pointer;
			background-color: white;
			height: 3px;
			width: 30px;
			margin: 0 3px;
			opacity: 0.2;
			transition: 0.4s ease opacity;
			&.active{
				opacity: 1;
			}
		}
	}
	
	.carrouselView{
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: hidden;

		&:hover .pz-pageControls{
			display: block;
		}

		.carrousel-Item{
			display: flex;
			min-width: 100%;
			width: 100%;
			overflow: hidden;
			position: relative;
			
			img{
				object-fit: contain;
				width: 100%;
				height: 100%;
				transition: all 0.2s ease-in-out;
				&.foreground{
					filter: brightness(50%);
				}
				&.background{
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					filter: blur(4px) brightness(30%);
				}
			}

			.content{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				.title{
					color: white;
					word-break: break-word;
					text-align: center;
					font-weight: bold;
					max-width: 50%;
					font-size: 4.6rem;
					margin-bottom: 6rem;
					font-family: Roboto;
					text-transform: uppercase;
				}
				
			}
		}

	}
}


