.table-wrapper{

	input{
		border: none;
		border-bottom: 1px solid black;
		outline: none;
		margin-right: 1.5rem;
		font-size: 2.5rem;
		&[name=country]{
			width: 50px;
		}
	}

	.addNew{
		margin-top: 2.5rem;
		font-size: 2.5rem;
		padding: 0.75rem 1.5rem;
	}

	table{
		text-align: left;
		text-transform: capitalize;
		border-spacing: 0;
		width: 100%;
		user-select: none;

		thead {
			tr{
				background-color: #002258;
				color: white;
				font-size: 3.2rem;
				font-weight: bolder;

				th{
					padding: 0.25rem 0.5rem;
					&:first-child{
						border-top-left-radius: 5px;
					}
					&:last-child{
						border-top-right-radius: 5px;
						width: 15%;
					}
				}
			}
		}
		
		
		tbody {
			tr{
				font-size: 3.2rem;
				background-color: #fff;
				&:nth-child(even){
					background-color: rgb(241, 241, 241);
				}

				input{
					font-size: 1.8rem;
					&[name=country]{
						width: 25px;
					}
				}

				td{
					padding: 0.75rem 0.5rem;
			
					.flag{
						margin-right: 5px;
						margin-top: -4px;
					}
					
				}

				.cta{
					padding: 0.5rem 1rem;
					margin-right: 0.2rem;
					&.delete{
						background-color: red;
					}

				}		
			}
	
		}
	
	}
}