.events-wrapper{
	display: flex;
	flex-direction: column;
	justify-items: center;

	.table-wrapper	table{
		width: 100%;
		border-spacing: 0;
		text-align: left;
		text-transform: capitalize;
		user-select: none;
		
		thead{
			tr{
				background-color: #002258;
				color: white;
				font-size: 3.2rem;
				font-weight: bolder;

				th{
					padding: 0.25rem 1rem;
					&:first-child{
						border-top-left-radius: 5px;
					}
					&:last-child{
						border-top-right-radius: 5px;
						width: 15%;
					}
				}
			}
		}

		tbody {
			tr{
				background-color: #fff;
				&:nth-child(even){
					background-color: rgb(241, 241, 241);
				}
				td{
					padding: 0.75rem 1rem;
					&:nth-child(1){
						width: 10%;	
					}
				}

			}
	
		}



	}



}