.events-wrapper{
	display: flex;
	flex-direction: column;
	justify-items: center;

	.controls{
		margin: 2.5rem 0;
		a{
			font-size: 2.3rem;
			padding: 0.5rem 2rem;
		}
	}


	.table-wrapper	{
		margin-top: 4rem;
		// Remove when adding top calendar picker
		table{
			width: 100%;
			border-spacing: 0;
			text-align: left;
			text-transform: capitalize;
			user-select: none;
			
			thead{
				tr{
					background-color: #002258;
					color: white;
					font-size: 3.2rem;
					font-weight: bolder;

					th{
						padding: 0.25rem 1rem;
						&:first-child{
							border-top-left-radius: 5px;
						}
						&:last-child{
							border-top-right-radius: 5px;
							width: 15%;
						}
					}
				}
			}

			tbody {
				tr{
					background-color: #fff;
					&:nth-child(even){
						background-color: rgb(241, 241, 241);
					}
					td{
						padding: 0.75rem 1rem;
						&:nth-child(1){
							width: 10%;	
						}
						a.eventlink{
							font-size: 1.8rem;
							padding: 0.5rem 1rem;
						}
					}

				}
		
			}

		}
	}



}