html{
  font-size: 62.5%; // 1rem = 10px
}

body{
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

.App{
	min-height: 99vh;
}

.page{
	width: 95%;
	margin: 0 auto;
}


.table-wrapper{
	min-height: 250px;
	min-width: 250px;
}

.cta{
	border-radius: 8px;
	border: none;
	font-weight: bolder;
	color: white;
	background-color: #314FE5;
	cursor: pointer;
	transition: 0.2s ease-in;
	&:hover{
		background-color: #002258;
	}
}

