html{
  font-size: 62.5%; // 1rem = 10px
}

body{
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

.App{
	min-height: 99vh;
}

.page{
	width: 95%;
	margin: 0 auto;
}


.table-wrapper{
	min-height: 250px;
	min-width: 250px;
}

